.cardFlexContainer {
  display: flex;
  justify-content: space-between;
}

.fade {
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
