.container {
  width: 230px;
  min-width: 230px;
  background: #16181a;
  height: 100vh;
  transition: 300ms;

  .logoContainer {
    filter: hue-rotate(200deg);
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    justify-content: center;
  }

  .link {
    padding: 8px 16px;
    width: 100%;
    position: relative;
    align-items: center;
    transition: 300ms;
    background: transparent;

    &:hover .bar {
      height: 100%;
    }

    .bar {
      height: 0;
      width: 2.5px;
      background: #0072f5;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 5px;
      transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    min-width: 60px;
    width: 60px;
  }
}
