.container {
  min-width: 230px;
  max-width: 230px;
  background: #16181a;
  height: 100vh;

  .logoContainer {
    filter: hue-rotate(200deg);
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    justify-content: center;
  }

  .link {
    padding: 8px 16px;
    width: 100%;
    position: relative;
    align-items: center;
    background: transparent;
    transition: 300ms;
  }
}
