.wrapper {
  padding: 16px;

  .container {
    max-width: 1000px;
    margin: auto;

    .header {
      text-align: center;
      margin-bottom: 20px;
    }
  }

  .flexContainer {
    display: flex;
    max-width: 600px;
    margin: auto;
  }
}
