.wrapper {
  padding: 10px 16px;
  position: sticky;
  top: 0;
  z-index: 9999;
  backdrop-filter: blur(7px);
  border-bottom: 1px solid #ecedee;

  .container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: "relative";
  }

  .logoContainer {
    display: flex;
    align-items: center;
  }

  .centerContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    color: #ff4500;
  }

  .linkContainer {
    display: flex;
    align-items: center;
  }
}
