.my-dark-app {
  background-image: url("/images/gradient-bg.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body {
  min-height: 100vh !important;
}

.admin-container {
  display: flex;
}

.admin-right-wrapper {
  padding: 16px;
  width: 100%;
}

.admin-right-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.admin-content-container {
  padding: 16px 0px;
}
