.my-dark-app {
  background-image: url("/images/gradient-bg.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body {
  min-height: 100vh !important;
}

.admin-container {
  display: flex;
}

.admin-right-container {
  width: 100%;
}

.admin-content-container {
  max-width: 1032px;
  padding: 10px 16px 50px 16px;
  margin: auto;
}
