.wrapper {
  position: sticky;
  top: 0;
  padding: 10px 16px;
  z-index: 9999;

  .container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .titleContainer {
    display: flex;
    align-items: center;

    .title {
      margin-left: 4px;
      font-weight: 600;
    }
  }

  .linkContainer {
    display: flex;
    align-items: center;
  }
}
